.header{
    width: 100%;
    height: 660px;
    background-image: url(events-heavenly-header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    color: rgb(255, 255, 255);
    position: relative;
    z-index:3;

}

.overlay{
    position: absolute;
    background-color: rgba(255, 71, 71, 0.664);
    top:0;
    height:100%;
    width: 100%;
    z-index: 2;
 
}
.overlay h1{
    font-size: 70px;
}
.header-main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.test{
height:100%;
}
.button{
    position: absolute;
    left:0px;
    top:50%;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
#leftMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.social-list i{
 transition: 0.7ms;
}
.social-list i:hover{
    background-color: #D62E33;
}
.sidenav a {
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: white;
}
.sidenav a:hover{
    color:rgb(83, 0, 0);
}
#sliderDown {
    margin: 100px auto;
    width: 50%;
}
.text-center {
    text-align: center !important;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
#sliderDown h3 {
    padding: 10px;
    margin: 0;
    background-color: rgba(214, 46, 51, 0.6);
    cursor: pointer;
    color: white;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
#sliderDown .first {
    display: block;
}
#sliderDown div {
    padding: 10px;
    background-color: #ccc;
    display: none;
}
#count {
    background-image: url(invitation-2508607__340.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: relative;
    height: 330px;
}
.count-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 46, 51, 0.6);
    color: white;
}
.container {
    padding: 100px 0px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.tim {
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-weight: 500;
    font-size: 30px;
}
#contact-us {
    margin-top: 100px;
}
.container {
    padding: 100px 0px;
}

#contact-us .con-info h3 {
    color: #444;
    font-size: 18px;
    font-weight: bold;
}
#contact-us .con-info p {
    font-size: 16px;
    line-height: 26px;
    color: #777;
}
#Home h2, p{
    text-align: center;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}
#contact-us .icons {
    margin-top: 50px;
}
#contact-us .icons p {
    margin-bottom: 35px;
}
#contact-us .con-info p {
    font-size: 16px;
    line-height: 26px;
    color: #777;
}
#contact-us .red {
    color: #D62E33 !important;
}
#contact-us i {
    margin-right: 20px;
    color: #777;
}
#contact-us .icons p {
    margin-bottom: 35px;
}

#contact-us .con-info p {
    font-size: 16px;
    line-height: 26px;
    color: #777;
}
#Home h2, p {
    text-align: center;
}
#contact-us .con-info .social-list {
    margin-top: 60px;
    color: #777;
}
#contact-us .con-info .social-list i {
    margin-right: 10px;
    border: 1px solid #999;
    width: 40px;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
#contact-us form input, #contact-us form textarea {
    margin-bottom: 20px;
    border-radius: 0;
}

button, input {
    overflow: visible;
}


#chars {
    font-size: 20px;
    color: #D62E33;
}
#contact-us form textarea {
    height: 200px;
    resize: vertical;
}

#contact-us form input, #contact-us form textarea {
    margin-bottom: 20px;
    border-radius: 0;
}
textarea.form-control {
    height: auto;
}
#contact-us form button {
    background-color: #D62E33;
    color: #fff;
    padding: 10px 20px;
    border-radius: 0;
    text-transform: uppercase;
}

#contact-us .head h2 {
    text-transform: uppercase;
    font-size: 35px;
    color: #444;
    font-weight: bold;
    margin-bottom: 20px;
}
#contact-us .head p {
    color: #777;
    font-weight: 300;
    font-size: 16px;
}